<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pdf_agreeement>
            <general>
                <file_name>agreement</file_name>
            </general>
        </pdf_agreeement>
    </default>
</config>
