<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
    <section id="pdf_agreeement" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Downlodable Terms and Conditions</label>
        <tab>magesuite</tab>
        <resource>MageSuite_DownloadableTermsAndConditions::config_downloadable_agreemets</resource>
        <group id="general" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>General</label>
            <field id="file_name" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>PDF file name</label>
                <comment>Without file extension</comment>
            </field>
        </group>
    </section>
</system>
</config>
